<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Scan</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='view scan/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='view scan/css/all.min.css') }}"/>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css_table/style.css')}}"
    />
</head>
<body>
    <div class="container">
        <div class="containbubbles">
            <div class="bubbles">
                <span style=" --i:11"></span>
                <span style=" --i:10"></span>
                <span style=" --i:3"></span>
                <span style=" --i:21"></span>
                <span style=" --i:51"></span>
                <span style=" --i:70"></span>
                <span style=" --i:16"></span>
                <span style=" --i:25"></span>
                <span style=" --i:13"></span>
                <span style=" --i:20"></span>
                <span style=" --i:9"></span>
                <span style=" --i:5"></span>
                <span style=" --i:19"></span>
                <span style=" --i:10"></span>
                <span style=" --i:6"></span>
                <span style=" --i:14"></span>
                <span style=" --i:19"></span>
                <span style=" --i:17"></span>
                <span style=" --i:11"></span>
                <span style=" --i:15"></span>
                <span style=" --i:80"></span>
                <span style=" --i:7"></span>
                <span style=" --i:9"></span>
                <span style=" --i:11"></span>
                <span style=" --i:18"></span>
                <span style=" --i:28"></span>
                <span style=" --i:10"></span>
                <span style=" --i:3"></span>
                <span style=" --i:21"></span>
                <span style=" --i:27"></span>
                <span style=" --i:11"></span>
                <span style=" --i:16"></span>
                <span style=" --i:25"></span>
                <span style=" --i:13"></span>
                <span style=" --i:20"></span>
                <span style=" --i:9"></span>
                <span style=" --i:5"></span>
                <span style=" --i:19"></span>
                <span style=" --i:11"></span>
                <span style=" --i:6"></span>
                <span style=" --i:10"></span>
                <span style=" --i:19"></span>
                <span style=" --i:17"></span>
                <span style=" --i:11"></span>
                <span style=" --i:15"></span>
                <span style=" --i:18"></span>
                <span style=" --i:5"></span>
                <span style=" --i:9"></span>
                <span style=" --i:11"></span>
                <span style=" --i:10"></span>
                <span style=" --i:11"></span>
                <span style=" --i:10"></span>
                <span style=" --i:3"></span>
                <span style=" --i:21"></span>
                <span style=" --i:18"></span>
                <span style=" --i:16"></span>
                <span style=" --i:16"></span>
                <span style=" --i:25"></span>
                <span style=" --i:13"></span>
                <span style=" --i:20"></span>
                <span style=" --i:9"></span>
                <span style=" --i:5"></span>
                <span style=" --i:19"></span>
                <span style=" --i:11"></span>
                <span style=" --i:6"></span>
                <span style=" --i:14"></span>
                <span style=" --i:19"></span>
                <span style=" --i:17"></span>
                <span style=" --i:90"></span>
                <span style=" --i:15"></span>
                <span style=" --i:20"></span>
                <span style=" --i:7"></span>
                <span style=" --i:9"></span>
                <span style=" --i:1"></span>
                <span style=" --i:10"></span>
                <span style=" --i:28"></span>
                <span style=" --i:10"></span>
                <span style=" --i:3"></span>
                <span style=" --i:20"></span>
                <span style=" --i:27"></span>
                <span style=" --i:11"></span>
                <span style=" --i:16"></span>
                <span style=" --i:25"></span>
                <span style=" --i:13"></span>
                <span style=" --i:20"></span>
                <span style=" --i:9"></span>
                <span style=" --i:5"></span>
                <span style=" --i:19"></span>
                <span style=" --i:27"></span>
                <span style=" --i:6"></span>
                <span style=" --i:13"></span>
                <span style=" --i:19"></span>
                <span style=" --i:17"></span>
                <span style=" --i:3"></span>
                <span style=" --i:15"></span>
                <span style=" --i:18"></span>
                <span style=" --i:5"></span>
                <span style=" --i:9"></span>
                <span style=" --i:1"></span>
                <span style=" --i:18"></span>
            </div>
        </div>
        <div class="header" id="header">
            <div class="container">
                <a class="logo" href="W_doctor">
                    <img class="image-logo" src="{{url_for('static',filename = 'view scan/images/eyes.png')}}"
                        alt="logo photo">
                    YOUN</a>
                <i class="fas fa-bars menu"></i>
                <nav class="main-nav">
                    <a href="view scan">Scans</a>
                    <a href="doctorappoin">Appointmnts</a>
                    <a href="my patients">My Patient</a>
                    <a href="examination">Examination</a>
                    <a href="/">Log out</a>
                </nav>
            </div>
        </div>
        <div class="containlog">
            <div class="title">
                Search about scan
            </div>
            
            <form action="view scan"  method="POST" autocomplete="off">
                <div class="user-details">
                        <div class="input-box">
                            <span class="details ">
                            Patient ID
                            </span>
                            <input  type="text" placeholder="Enter Patient Username"  name="patient_id" required>
                        </div>
                    
                </div>
                <div class="button">
                    <input type="submit" value="Search">
                </div>
                <tr>
                <td>Photo</td>
                <td><img src="/static/uploadedimages/{{photo}}" alt="img"/></td>
            </tr>
                </div>
                
            </form>
        </div>
        
    </div>
    <script src="js/landing.js"></script>

</body>
</html>